@tailwind base;
@tailwind components;
@tailwind utilities;


.w-md-editor,
.w-md-editor-content,
.w-md-editor-area {
  height: 100% !important;
  min-height: 0 !important;
  max-height: none !important;
}

.w-md-editor {
  /* это основной контейнер */
  height: 100% !important;
  min-height: 0 !important;
  max-height: 100vh !important; /* ограничение на случай выхода за экран */
}

@font-face {
  font-family: 'Sylfaen';
  src: url('/sylfaen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
